# Jupyter
.ipynb_checkpoints/
*.ipynb
# VSCode
.vscode/
# Poetry
poetry.toml
# Python
__pycache__
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg
eggs/
.eggs/
build/
*env/
.python-version
# Other
*.pkl
*.bin
*.sh
*.txt
experiments/
